* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-image: url(bg.png);
    color: white;
    background-size: 60rem;
}

main h1 {
    color: #0de4c7;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    background-color: #ffffc7;
    color: #0f03f1;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #0de4c7;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #0de4c7;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
      font-size: clamp(2rem, 6vw, 3rem);
    color: #00ffd5;
}

.msg-container {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.hide {
    display: none;
}

.text-color-x {
    color: #fc0202;
}